@charset 'utf-8';

*{
    margin: 0; padding: 0; 
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.listBox{
    width: 800px; height: 100px; border: 10px solid red; margin: 100px auto; position: relative;

    .list{
        width: 1200px; height: 100%;
        position: absolute; top: 0px; left: 0px;

        li{
            width: 120px; height: 100%;
            float: left; border: 1px solid #bbb; box-sizing: border-box; display: flex; align-items: center; justify-content: center;
        }
    }

}